  .sitemap {
  	/*
  	background-image: linear-gradient(135deg, rgba(17, 161, 73, 0.6) 0%, rgba(255, 191, 0, 0.6) 100%),
  	url("../../../imaxes/img_rois/rio2.jpg");
  	background-repeat: no-repeat;
  	background-position: center center;
  	background-attachment: fixed;
  	background-size: cover;
*/
  	box-sizing: border-box;
  	margin: 0 auto !important;
  	display: inline-flex;
  	padding: 1em;
  }

  .sitemap section {
  	margin: 0 5vw;
  	height: auto;
  }

  h2 {
  	font-size: 1.5em;
  	color: #3f5862;
  	padding: 0.5em;
  	font-weight: bold;
  	width: 50%;
  	border-radius: 5px;
  	margin-bottom: 40px;
  }

  input {
  	position: absolute;
  	opacity: 0;
  	z-index: -1;
  }

  /* Accordion styles */
  .tabs {
  	border-radius: 8px;
  	/*  	overflow: hidden;*/
  	/*  	box-shadow: 04px 4px -2px rgba(0, 0, 0, 0.7);*/
  	/*  	background: rgba(0, 0, 0, 0.1);*/
  	/*  	width: auto;*/
  	margin: 0 auto;
  	padding: .5em;
  }

  .tab {
  	width: 25vw;
  	height: auto;
  	color: white;
  	margin: 0 !important;
  	padding: 0;
  	overflow: hidden;
  }

  .tab-label {
  	display: flex;
  	justify-content: space-between;
  	padding: .5em;
  	background: beige;
  	color: #3f5862;
  	font-weight: bold;
  	cursor: pointer;
  	border-radius: .5em !important;
  	-moz-box-shadow: 0px 0px 5px #ccc inset, 7px 12px 7px #ccc;
  	-webkit-box-shadow: 0px 0px 5px #ccc inset, 7px 12px 7px #ccc;
  	box-shadow: 0px 0px 5px #ccc inset, 7px 12px 7px #ccc;
  }

  .tab-label:hover {
  	background: rgba(226, 135, 67, 0.7);
  	color: #3f5862;

  }


  .tab-label::after {
  	content: "\276F";
  	width: 2em;
  	height: 2em;
  	font-size: 1.1em;
  	padding: 0;
  	text-align: center;
  	transition: all 0.35s;
  	/*  	background: rgba(226, 135, 67, 0.7);*/

  }

  input:checked {}

  input:checked + .tab-label {
  	background: rgba(226, 135, 67, 0.5);
  	color: #e6400c;

  }

  input:checked + .tab-label::after {
  	transform: rotate(90deg);

  }

  input:checked ~ .tab-content {
  	max-height: 100vh;
  	padding: .1em;
  	opacity: 1;
  }

  .tab-content {
  	width: auto;
  	max-height: 2em;
  	padding: 0em;
  	margin: 0 0 0em 0;
  	color: #3f5862;
  	background: white;
  	opacity: 0;
  	transition: all 0.35s;
  	background: rgba(255, 255, 255, 0.5);

  }

  .tab-content ul {
  	list-style: none;
  	color: #3f5862;
  	font-weight: 700;
  	width: 100%;
  	padding: 1em;
  	background: beige;
  	border-radius: .1em !important;
  	-moz-box-shadow: 0px 0px 5px #ccc inset;
  	-webkit-box-shadow: 0px 0px 5px #ccc inset;
  	box-shadow: 0px 0px 5px #ccc inset;
  }

  .tab-content ul li {
  	width: 100%;
  	padding: 0 0 .3em 0;
  	background: beige;
  	border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  }

  .tab-content a {
  	color: rgb(226, 135, 67);

  }

  .tab-content a:hover {
  	color: #e6400c;
  }
